* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1eb7d9;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cerrarseison {
    margin-top: 300px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.sidenav img {
    width: 120;
    display: block;
    margin: 0px auto;
    opacity: 0.7;
}

.content h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 19px;
    margin-top: 2px;
    text-align: center;
}

.encimatabla {
    background-color: #111;
}


.show {
    left: 0;
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.form input {
    width: 50%;
}

.form label,
select,
input {
    text-align: center;
    align-items: center;
    size: 100px;
    width: 100%;
    margin-bottom: 10px;
}

.profile-picture {
    margin-top: 20px;
    text-align: center;
}

button {
    grid-column: span 2;
    height: 30px;
    cursor: pointer;
    display: block;
    padding: 0.5rem 1rem;
    width: 200px;
    margin: 0 auto;
}

.profile-picture img {
    max-width: 150px;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}