body {
    font-family: Arial, sans-serif;
    background-color: #d2ecf9;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}

.sidenav a {
    padding: 8px 8px 8px 10px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.cerrarseison {
    margin-top: 300px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {


    .sidenav a {
        padding: 10px;
    }

    .sidenav .closebtn {
        top: 15px;
        right: 15px;
    }

    .sidenav img {
        width: 60%;
    }

    h2 {
        font-size: 20px;
    }

    th,
    td {
        font-size: 14px;
        padding: 8px;
    }
}

.sidenav img {
    width: 120px;
    display: block;
    margin: 0 50px 20px 45px;
    opacity: 0.7;
}

h2 {
    text-transform: capitalize;
    font-size: 30px;
    margin-bottom: 19px;
    margin-top: 19px;
    text-align: center;
    color: #fff;
}

.centrar {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 20px;
}

h1 {
    text-align: center;
    color: #111111;
    font-size: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
    color: #111111;
}

strong {
    font-weight: bold;
    color: #1eb7d9;
}


#boton-container {
    text-align: center; 
}


#boton-container button {
    background-color: #1891ac; 
    color: #ffffff; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    border-radius: 5px; 
    font-size: 16px; 
    transition: background-color 0.3s
}


#boton-container button:hover {
    background-color: #069dbf; 
}
